<h1>Listing Medical Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Condition</th>
      <th>Start date</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @med_profiles.each do |med_profile| %>
      <tr>
        <td><%= med_profile.condition %></td>
        <td><%= med_profile.start_date %></td>
       
        <td><%= link_to 'Edit', edit_customer_med_profile_path(@customer, med_profile) %></td>
        <td><%= link_to 'Destroy', edit_customer_med_profile_path(@customer, med_profile), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Med profile', new_customer_med_profile_path(@customer) %>
