<p id="notice"><%= notice %></p>

<p>
  <strong>Condition:</strong>
  <%= @med_profile.condition %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @med_profile.start_date %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @med_profile.customer_id %>
</p>

<%= link_to 'Edit', edit_customer_med_profile_path(@med_profile) %> |
<%= link_to 'Back', customer_med_profiles_path %>
