<h1>Listing meds</h1>

<table>
  <thead>
    <tr>
      <th>Med name</th>
      <th>Dosage</th>
      <th>Amount</th>
      <th>Start date</th>
      <th>Customer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meds.each do |med| %>
      <tr>
        <td><%= med.med_name %></td>
        <td><%= med.dosage %></td>
        <td><%= med.amount %></td>
        <td><%= med.start_date %></td>
        <td><%= med.customer_id %></td>
        <td><%= link_to 'Show', med %></td>
        <td><%= link_to 'Edit', edit_med_path(med) %></td>
        <td><%= link_to 'Destroy', med, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Med', new_med_path %>
