<%= simple_form_for(@alergy) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :alergy_name %>
    <%= f.input :start_date %>
    <%= f.input :customer_id, :as => :hidden, :input_html => { :value => @customer.id } %>
   
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
