<h1>Listing Emergency Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Fname</th>
      <th>Lname</th>
      <th>Contact phone</th>
      <th>Mobile phone</th>
      <th>Email</th>
      <th>Adress</th>
      <th>Contact relationship</th>
      <th>Contact photo</th>

      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% for emergency_contact in @emergency_contacts do  %>
      <tr>
        <td><%= emergency_contact.fname %></td>
        <td><%= emergency_contact.lname %></td>
        <td><%= emergency_contact.contact_phone %></td>
        <td><%= emergency_contact.contact_mob_phone %></td>
        <td><%= emergency_contact.contact_email %></td>
        <td>
          <%= emergency_contact.contact_address %> 
          <%= emergency_contact.contact_city %>
          <%= emergency_contact.contact_state %>
          <%= emergency_contact.contact_country %>
          <%= emergency_contact.contact_zip %>
        </td>

        <td><%= emergency_contact.contact_relationship %></td>
        <td><%= emergency_contact.contact_photo %></td>
        
        <td><%= link_to 'Edit', edit_customer_emergency_contact_path(@customer,emergency_contact) %></td>
        <td><%= link_to 'Destroy', customer_emergency_contact_path(@customer, emergency_contact), method: :delete,  data: { confirm: 'Are you sure?' } %>
       
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Emergency contact', new_customer_emergency_contact_path(@customer) %>
