<h1>Listing Doctors</h1>

<table>
  <thead>
    <tr>
      <th>Doctor Name</th>
      <th>Doctor specialty</th>
      <th>Doctor phone</th>
      <th>Doctor email</th>
      <th>Doctor address</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td>
          <%= doctor.doctor_fname %>
          <%= doctor.doctor_lname %>
        </td>
       

        <td><%= doctor.doctor_specialty %></td>
        <td><%= doctor.doctor_phone %></td>
        <td><%= doctor.doctor_email %></td>
        <td>
          <%= doctor.doctor_address %>
          <%= doctor.doctor_city %>
          <%= doctor.doctor_state %>
          <%= doctor.doctor_country %>
          <%= doctor.doctor_zip %>
        </td>

        <td><%= link_to 'Edit', edit_customer_doctor_path(@customer,doctor) %></td>
        <td><%= link_to 'Destroy', customer_doctor_path(@customer, doctor), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Doctor', new_customer_doctor_path(@customer)%>
